{% extends 'base.html.twig' %}

{% block body %}
      <div class="row">
        <div class="col-12">
          <h1 class="page-header"><small class="text-muted">{{ today | capitalize }}</small><br>C&apos;est pour quand&nbsp;?</h1>
          <hr>
        </div>
      </div>
      {% set i = 0 %}
      {% for month in months %}
      {% if i % 12 == 0 %}
      {% if i > 0 %}
      </div>
      {% endif %}
      <div class="row">
      {% else %}
        {% if i > 0 and i % 4 == 0 %}
        <div class="clearfix visible-lg-block"></div>
        {% endif %}
        {% if i > 0 and i % 3 == 0 %}
        <div class="clearfix visible-md-block"></div>
        {% endif %}
        {% if i > 0 and i % 2 == 0 %}
        <div class="clearfix visible-sm-block"></div>
        {% endif %}
      {% endif %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <h3>{{ month.title|capitalize }}</h3>
          <table class="table table-borderless table-sm table-striped">
            <thead>
              <tr>
                {% for head in month.heads %}
                {% if head is null %}
                <th>&nbsp;</th>
                {% else %} 
                <th>{{ head }}</th>
                {% endif %}
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for week in month.weeks %}
              <tr>
                {% for day in week.days %}
                {% if day is null %}
                <td>&nbsp;</td>
                {% else %} 
                <td><a href="{{ path('date', {'date': day.date}) }}">{{ day.num }}</a></td>
                {% endif %}
                {% endfor %}
                <td class="table-primary">{{ week.num }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% set i = i + 1 %}
        {% endfor %}
      </div>
{% endblock %}
