{% extends 'base.html.twig' %}

{% block body %}
      <div class="row">
        <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <h1><small class="text-muted">{{ today|capitalize }}</small><br>C&apos;est pour le<br>{{ end }}</h1>
          <hr>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <div class="progress" style="height: 20px">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ dayPast }}" aria-valuemin="0" aria-valuemax="{{ dayTotal }}" style="min-width: 24px; width: {{ percentPast }}%">{{ percentPast }}&nbsp;%</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5 text-right">{{ signPast }}{{ dayPast }}&nbsp;j</div>
        <div class="col-5 offset-2">{{ signRemain }}{{ dayRemain }}&nbsp;j</div>
      </div>
      <div class="row">
        <div class="col-5 text-right">{{ signPast }}{{ weekPast }}&nbsp;sem. et {{ weekDayPast }}&nbsp;j</div>
        <div class="col-5 offset-2">{{ signRemain }}{{ weekRemain }}&nbsp;sem. et {{ weekDayRemain }}&nbsp;j</div>
      </div>
      <div class="row">
        <div class="col-5 text-right">{{ signPast }}{% if monthYearPast > 0 %}{{ monthYearPast }}&nbsp;an{{ monthYearPast > 1 ? 's' }}, {% endif %}{{ monthPast }}&nbsp;mois et {{ monthDayPast }}&nbsp;j</div>
        <div class="col-5 offset-2">{{ signRemain }}{% if monthYearRemain > 0 %}{{ monthYearRemain }}&nbsp;an{{ monthYearRemain > 1 ? 's' }}, {% endif %}{{ monthRemain }}&nbsp;mois et {{ monthDayRemain }}&nbsp;j</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
          <hr><a class="btn btn-outline-primary" href="{{ path('calendar') }}">Revenir au calendrier</a>
        </div>
      </div>
{% endblock %}
