<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Compteur{% endblock %}</title>
	<link href="images/calendar.svg" rel="shortcut icon" type="image/svg+xml" />
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
	{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	{% endblock %}
    </body>
</html>
